.particle {
    position: absolute;
    width: 10px; /* 粒子大小 */
    height: 10px; /* 粒子大小 */
    border-radius: 50%;
    pointer-events: none;
    animation: particle-fly 1s ease-out forwards;
}
.particle.red {
    background-color: #c505f1; /* 红色 */
}
.particle.green {
    background-color: #048304; /* 绿色 */
}
.particle.blue {
    background-color: #284ecc; /* 蓝色 */
}
.particle.yellow {
    background-color: #ccab28; /* 黄色 */
}
@keyframes particle-fly {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0);
    }
}